<a href="https://colab.research.google.com/github/nicolasnugent/programa-python/blob/main/modulo1_fundamentos/clase06/TAREA_Laboratorio_de_ejercicios_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [9]:
bancos = ["BCP", "INTERBANK", "SCOTIABANC", "BBVA", "CITIBANK"]

Ejercicio 2

Acceder al tercer banco de la lista.

In [10]:
bancos [2]

'SCOTIABANC'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [11]:
bancos.append("BANCO DE LA NACION")
print(bancos)

['BCP', 'INTERBANK', 'SCOTIABANC', 'BBVA', 'CITIBANK', 'BANCO DE LA NACION']

Ejercicio 4

Eliminar el segundo banco.

In [12]:
del bancos[1]
print(bancos)

['BCP', 'SCOTIABANC', 'BBVA', 'CITIBANK', 'BANCO DE LA NACION']

Ejercicio 5

Ordenar alfabéticamente los bancos.

In [13]:
bancos.sort()
print (bancos)

['BANCO DE LA NACION', 'BBVA', 'BCP', 'CITIBANK', 'SCOTIABANC']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [17]:
ingreso_mensual = int(input ("Ingrese su ingreso mensual: "))
if ingreso_mensual > 3000:
  print ("El cliente tiene ingreso mayor a 3000 soles")
else:
  print ("El cliente no tiene ingreso mayor a 3000 soles")

Ingrese su ingreso mensual: 3500
El cliente tiene ingreso mayor a 3000 soles

Ejercicio 2

Evaluar edad para otorgar tarjeta de crédito.

In [18]:
edad = input ("Ingrese su edad: ")
if edad >= "18":
  print ("El cliente tiene derecho a una tarjeta de crédito")
else:
  print ("El cliente no tiene derecho a una tarjeta de crédito")

Ingrese su edad: 40
El cliente tiene derecho a una tarjeta de crédito

Ejercicio 3

Evaluar un score de crédito.

In [21]:
if ingreso_mensual > 3000 and edad >= "18": print("tiene buen score")
else: print("tiene un score regular")

tiene buen score

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [22]:
saldo = int(input ("Ingrese su saldo: "))
if saldo < 0:
  print ("El cliente tiene saldo negativo")
else:
  print ("El cliente no tiene saldo negativo")

Ingrese su saldo: 0
El cliente no tiene saldo negativo

Ejercicio 5

Comparar dos tasas de interés.

In [29]:
tasa_1 = int(input ("Ingrese la primera tasa de interés: "))
tasa_2 = int(input ("Ingrese la segunda tasa de interés: "))
if tasa_1 > tasa_2:
  print ("La primera tasa de interés es mayor a la segunda")
elif tasa_1 < tasa_2:
    print ("La segunda tasa de interés es mayor a la primera")
else:
      print ("Las tasas son iguales")

Ingrese la primera tasa de interés: 3
Ingrese la segunda tasa de interés: 4
La segunda tasa de interés es mayor a la primera

Ejercicio 6

Evaluar si un cliente tiene más de 3 productos financieros.

In [30]:
numero_productos = int(input ("Ingrese el número de productos: "))
if numero_productos > 3:
  print ("El cliente tiene más de 3 productos")
else:
  print ("El cliente no tiene más de 3 productos")

Ingrese el número de productos: 4
El cliente tiene más de 3 productos

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [32]:
monto_depositado = int(input ("Ingrese el monto depositado: "))
if monto_depositado > 10000:
  print ("El monto depositado supera los 10,000 soles")
else:
    print ("El monto depositado no supera los 10,000 soles")

Ingrese el monto depositado: 5000
El monto depositado no supera los 10,000 soles

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [34]:
clientes = {"nombre": "Juan", "edad": 30, "saldo": 5000}

Ejercicio 2

Acceder al saldo del cliente.

In [36]:
clientes["saldo"]

5000

Ejercicio 3

Modificar el saldo.

In [37]:
clientes ["saldo"] = 6000
print (clientes)

{'nombre': 'Juan', 'edad': 30, 'saldo': 6000}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [38]:
clientes ["tarjeta_credito"] = "visa"
print (clientes)

{'nombre': 'Juan', 'edad': 30, 'saldo': 6000, 'tarjeta_credito': 'visa'}

Ejercicio 5

Eliminar el nombre del cliente.

In [39]:
del clientes ["nombre"]
print (clientes)

{'edad': 30, 'saldo': 6000, 'tarjeta_credito': 'visa'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de interés.

In [43]:
tasas_de_interes = [3,4,6,8,10,15]
for tasa in tasas_de_interes:
  print (tasa)

3
4
6
8
10
15

Ejercicio 2

Sumar todos los saldos de una lista.

In [46]:
saldos = [1000,2000,3000,4000,5000]
suma_saldos = 0
for saldo in saldos:
  suma_saldos += saldo
print (suma_saldos)

15000

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [47]:
precios = [100,200,300,400,500]
for precio in precios:
  precio_con_descuento = precio * 0.9
  print (precio_con_descuento)

90.0
180.0
270.0
360.0
450.0

Ejercicio 4

Contar cuántos productos tienen un precio mayor a 100.

In [48]:
count = 0
for precio in precios:
  if precio > 100:
    count += 1
print (count)

4

Ejercicio 5

Recorrer campañas de marketing y mostrar su nombre.

In [50]:
campañas_marketing = ["cyberwow", "cyberdays", "yapito", "creditos"]
for campaña in campañas_marketing:
  print (campaña)

cyberwow
cyberdays
yapito
creditos

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [57]:
saldos = {"juan": 1000, "pedro": 2000, "maria": 3000, "ana": 4000}
for cliente, saldo in saldos.items():
  if saldo > 2000:
    print (cliente)

maria
ana

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo crédito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y número de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluación" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condición.
4. Mostrar el resultado bien formateado por cliente.

In [60]:
# Base de datos de clientes
clientes = {
    "cliente1": {"nombre": "Ana", "ingreso_mensual": 4000, "deudas": 10000, "productos": 3},
    "cliente2": {"nombre": "Bruno", "ingreso_mensual": 2500, "deudas": 5000, "productos": 1},
    "cliente3": {"nombre": "Carla", "ingreso_mensual": 3500, "deudas": 16000, "productos": 2},
    "cliente4": {"nombre": "Diego", "ingreso_mensual": 3200, "deudas": 8000, "productos": 2},
}

# Recorrer cada cliente
for cliente_id, datos in clientes.items():
    nombre = datos["nombre"]
    ingreso_anual = datos["ingreso_mensual"] * 12
    deudas = datos["deudas"]
    productos = datos["productos"]

    # Evaluar condiciones
    cumple_ingreso = ingreso_anual > 36000
    cumple_deuda = deudas < 15000
    cumple_productos = productos >= 2

    # Clasificación
    if cumple_ingreso and cumple_deuda and cumple_productos:
        estado = "Elegible"
    elif cumple_ingreso or cumple_deuda or cumple_productos:
        estado = "Requiere Evaluación"
    else:
        estado = "No Elegible"

    # Mostrar resultados formateados
    print(f"Cliente: {nombre}")
    print(f" - Ingreso Anual: {ingreso_anual} soles")
    print(f" - Deudas: {deudas} soles")
    print(f" - Productos Contratados: {productos}")
    print(f" - Estado: {estado}")
    print ( )

Cliente: Ana
 - Ingreso Anual: 48000 soles
 - Deudas: 10000 soles
 - Productos Contratados: 3
 - Estado: Elegible

Cliente: Bruno
 - Ingreso Anual: 30000 soles
 - Deudas: 5000 soles
 - Productos Contratados: 1
 - Estado: Requiere Evaluación

Cliente: Carla
 - Ingreso Anual: 42000 soles
 - Deudas: 16000 soles
 - Productos Contratados: 2
 - Estado: Requiere Evaluación

Cliente: Diego
 - Ingreso Anual: 38400 soles
 - Deudas: 8000 soles
 - Productos Contratados: 2
 - Estado: Elegible

In [ ]:
clientes

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendrá:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - Número de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual × 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categorías.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificación}

# 🔥 Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al número entero más cercano.